.VehicleState {
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 200px 200px 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.driverDoor {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    justify-self:end;
}

.passengerDoor {
    grid-column: 3;
    grid-row: 2;
    align-self: end;
}

.driverRearDoor {
    grid-column: 1;
    grid-row: 3;
    justify-self:end;
}

.passengerRearDoor {
    grid-column: 3;
    grid-row: 3;
}

.frontTrunk {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.rearTrunk {
    grid-column: 2;
    grid-row: 4;
    place-self: center;
}
.carImage{
    grid-column: 2;
    grid-row: 2/3;
    place-self: center stretch;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.car{
    width:200px;
    height: 400px;
}