.iphone-8-16 {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6141e4ca9f195bb9cbd40316/releases/6141e506bc7b7a0b34c14585/img/iphone-8---16@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 667px;
  padding: 14px 0;
  width: 375px;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:800italic,500,600,800");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
